<p>
    <form method="post">
        <input type="hidden" name="action" value="reset"/>
        <input type="submit" value="Återställ spelet"/>
    </form>
</p>

<p>
    <form method="post">
        <input type="hidden" name="action" value="leave"/>
        <input type="submit" value="Avsluta spelet"/>
    </form>
</p>