<p>Klicka på knappen nedan för att spela.</p>

<form method="post">
    <input type="hidden" name="action" value="start"/>
    Antal tärningar:
    <select name="number_of_dices">
        <option value="1">En tärning</option>
        <option value="2">Två tärningar</option>
    </select>
    <br/>
    <input type="submit" value="Starta spelet"/>
</form>